:root {
    --primary-color: #4359b3;
    --secondary-color: #748be8;
    --title-font-color: #fff;
    --font-size-title: 150px;
    --font-size-subtitle: 75px;
    --font-line-title: 10px;
    --font-family-main: 'Segoe UI';
    --title-font: var(--font-size-title) / var(--font-line-title) var(--font-family-main) ;
}