:root {
    --primary-color: #4359b3;
    --secondary-color: #748be8;
    --title-font-color: #fff;
    --font-size-title: 150px;
    --font-size-subtitle: 75px;
    --font-size-subtitle2: 16px;
    --font-size-text: 24px;
    --font-line-title: 130px;
}