.Autocomplete {
  position: sticky;
  &__input {
    all: unset;
    width: -webkit-fill-available;
    padding: 16px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin: 24px 0;
    background-color: inherit;

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }

    &:focus {
      border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    }
  }

  &__options {
    background-color: #424242;
    position: absolute;
    z-index: 1001;
  }

  &__option {
    padding: 16px;
    cursor: pointer;

    &:hover {
      background-color: #4d4d4d;
    }
  }

  &__button {
    all: unset;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
  }
}
