.Button {
    all: unset;
    padding: 16px;
}

.cloudy {
  background-color: #efa378 ;
}

.sunny {
  background-color: #5082a7 ;
}

.rainy {
  background-color: #5a817b ;
}

.thunderstorm {
  background-color: #b1788c ;
}

.snow {
  background-color: #6c7981 ;
}

.fog {
  background-color: #9c9cb3 ;
}
